body {
  display: flex;
  flex-direction: column;
  background-color: rgb(157, 179, 179);
  margin-right: 4%;
  margin-left: 4%;
  font-family: "Slabo 27px", serif;
  height: fit-content;
}

#titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: rgb(9, 74, 104) 4px solid;
}

#icon {
  width: 100px;
  margin-left: 30px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: rgba(78, 114, 168, 0.233);
  margin: 0;
  flex: 1 1 auto; */
}

#home {
  flex-direction: row;
  align-items: center;
}

#named {
  flex-direction: column;
}

#image {
  margin-top: 40px;
  width: 200px;
  align-self: center;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
  margin-right: 5%;
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 20px;
  margin-left: 0%;
  padding: 20px;
}

#visual {
  /* position: absolute; */
  text-align: center;
  /* top: 90%;  */
  margin-top: 50px;
  margin-bottom: 0;
}

#title {
  /* position: absolute; */
  text-align: center;
  /* top: 50%;
  left: 30%; */
  transform: translate(0%, -390%);
  width: 100%;

  color: whitesmoke;
  font-family: "Permanent Marker";
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: lighter;
}

h1 {
  margin: 7px;
  font-size: 60px;
}

h2 {
  font-size: 80px;
}

h3 {
  margin: 0;
}

h4 {
  margin-top: -50px;
  font-weight: lighter;
  font-size: 35px;
}

p {
  margin-bottom: 30px;
  font-size: 20px;
}

#gen-button {
  display: flex;
  margin-top: 20px;
  align-self: center;
}

#hom-button {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -140px;
}

button {
  padding: 10px;
  background-color: cadetblue;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 20px;
  width: fit-content;
  border: 9px solid rgba(37, 82, 71, 0.589);
}

button:hover {
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); */
  cursor: pointer;
}

.input {
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 40px;
  max-width: 350px;
}

label {
  margin: 2px;
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}
